<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a03_kotlindemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <queries>
        <package android:name="com.example.service" />

        <intent>
            <action android:name="com.example.aidlserver" />
        </intent>
    </queries>

    <!--requestLegacyExternalStorage=true合法获取外部空间-->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.A03_KotlinDemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".network.JavaNetWorkActivity"
            android:exported="false" />
        <activity
            android:name=".rxjava.RxjavaActivity"
            android:exported="false" />
        <activity
            android:name=".rxjava.RxJava2Activity"
            android:exported="false" />
        <activity
            android:name=".kt.KotlinMainActivity"
            android:exported="false" />
        <activity
            android:name=".custom.CustomViewActivity"
            android:exported="false" />
        <activity
            android:name=".parabola.ParabolaActivity"
            android:exported="false" />
        <activity
            android:name=".car.CarActivity"
            android:exported="false" />
        <activity
            android:name=".car.SecondDisplayActivity"
            android:exported="false" />

        <receiver
            android:name=".parabola.MyReceiver2"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.a03_kotlindemo.parabola.intent.action.MyReceiver2" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".parabola.MyReceiver3"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.a03_kotlindemo.parabola.intent.action.MyReceiver2" />
            </intent-filter>
        </receiver> <!-- 私有进程 -->
        <!-- <activity -->
        <!-- android:name=".parabola.MultiprocessActivity" -->
        <!-- android:exported="false" -->
        <!-- android:process=":remote" /> -->
        <activity
            android:name=".parabola.MultiprocessActivity"
            android:exported="false"
            android:process="com.example.hhhh" /> <!-- 私有进程 -->
        <!-- <service -->
        <!-- android:name=".parabola.MultiprocessService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- android:process=":remote" /> -->
        <service
            android:name=".parabola.MultiprocessService"
            android:enabled="true"
            android:exported="true"
            android:process="com.example.jjjj" />

        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".maniu.MaNiuActivity"
            android:exported="false" />
        <!--导入blockcanary需要修改exported=true不然报错-->
        <activity
            android:name="com.github.moduth.blockcanary.ui.DisplayActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/block_canary_icon"
            android:label="@string/block_canary_display_activity_label"
            android:taskAffinity="com.github.moduth.blockcanary"
            android:theme="@style/block_canary_BlockCanary.Base">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".androidsimple.AndroidSimpleActivity"
            android:exported="false" />
    </application>

</manifest>